{{ $avatarURL := .Site.Params.avatar }}
{{ $isRemote := strings.HasPrefix $avatarURL "https" }}
{{ $tiny := "" }} <!-- Initialize $tiny -->
{{ $avatar := "" }} <!-- Initialize $avatar -->

{{ if not $isRemote }}
  {{ $avatar = resources.GetMatch $avatarURL }}
{{ end }}

<div class="flex-none w-20 h-20 rounded-full overflow-hidden">
  <a href="{{ .Site.BaseURL }}">
    <img
      {{ if $isRemote }}
        src="{{ $avatarURL }}"
        alt="{{ .Site.Title }}"
      {{ else }}
          src="{{ $avatar.RelPermalink }}"
          width="{{ $avatar.Width }}"
          height="{{ $avatar.Height }}"
          class="w-full h-full object-cover object-center"
        alt="{{ .Site.Title }}"
      {{ end }}
    />
  </a>
</div>
