<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en` }}" class="scroll-smooth dark">
  <head>
    {{- partial "head/index" . -}}
  </head>

  <body class="max-w-screen mx-8 sm:mx-8 md:mx-12 lg:mx-16 xl:mx-24">
    <div class="header">
      {{ partial "header/index" . }}
      {{ partial "header/theme-button" . }}
    </div>
  
    <main id="content">
      {{- block "main" . -}}
      {{- end }}
    </main>

    {{- partial "footer/index" . -}}
  </body>
</html>
