{{ $imgSrc := .Get "src" | safeURL }}
{{ $img := .Page.Resources.GetMatch (printf "%s" $imgSrc) }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $captionPosition := .Get "caption-position" }}
{{ $style := .Get "style" | safeCSS }}

<figure class='mb-5'>
	<img src="{{ if $img }}{{ $img.RelPermalink }}{{ else }}{{ $imgSrc }}{{ end }}" 
       {{ with $alt }} alt="{{ . }}" {{ end }}
       {{ with $style }} style="{{ . }}" {{ end }} class="block mx-auto"
	/>
  
  {{ with $caption }}
    <figcaption 
      class='{{ if eq $captionPosition "center" }} flex justify-center {{ else if eq $captionPosition "end" }} flex justify-end {{ end }}'
    >
      {{ . }}
    </figcaption>
  {{ end }}
</figure>